header
main
    section.container-fluid
        .row.col-12.col-lg-6.mx-auto
            div.col-6.col-xl-4
                #carouselBlog.carousel.slide(data-ride='carousel')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.active(src='../../assets/prf.jpeg', alt='profile-1')
                        .carousel-item
                            img.d-block(src='../../assets/profile.jpg', alt='profile-2')
            div.info.col-6.col-xl-5
                ul
                    li
                        h2 Pataki Donát
                    li Junior Webfejlesztő
                    li Training360 Kft.
        .row.col-12.col-lg-6.mx-auto
            div.padding
                h2 Szakmai tapasztalat
                ul
                    li
                        strong 2018 YellowRoad Training360 Kft.
                    li Junior webfejlesztő
                    li
                        p
                    li
                        strong 2016-2017 Korax Gépgyár Kft.
                    li Gépkezelő, napelem összeállító
                    li
                        p
        .row.col-12.col-lg-6.mx-auto
            div.padding
                h2 Tanulmányok
                ul
                    li
                        strong 2018 YellowRoad Training360 Kft.
                    li Junior Webfejlesztő
                    li
                        p
                    li
                        strong 2017 Soterline Kft.
                    li CAD-CAM informatikus
                    li
                        p
                    li
                        strong 2013-2015 Budapesti Műszaki és Gazdaságtudományi Egyetem
                    li Közlekedésmérnöki szak
                        p
                    li
                        strong 2008-2013 Kossuth Lajos Két Tanítási Nyelvű Műszaki Szakközépiskola
                    li Két tanítási nyelvű osztály - Érettségi
        .row.col-12.col-lg-6.mx-auto
            div.padding
                h2 Nyelvtudás
                ul
                    li
                        strong angol
                        span  - felsőfok (C1)
                    li
                        p
                    li
                        strong német
                        span  - alapfok (B1)
        .row.col-12.col-lg-6.mx-auto
            div.padding
                h2 Egyéb ismeretek
                ul
                    li
                        strong Programozási nyelvek
                    li HTML, javascript
                        p
                    li
                        strong Szofverek
                    li Siemens SolidEdge, EdgeCam, Microsoft Office
                        p
                    li
                        strong Veyetői engedély
                    li B kategória
