main
    .container
      .card.col-12.col-lg-5
        img.card-img-top(src='../../assets/mongoose.jpg', alt='mongoose')
        .card-body
          h5.card-title MongooseJS
          div.card-text.col-12
            | A Mongoose lényegre törően egyszerű,
            | séma-alapú megoldás alkalmazásadatok modellezésére.
            | Beépített típuskonverzióval, érvényesítéssel,
            | lekérdezés-készítővel, üzleti logikai megoldásokkal
            | és sok más, készen használható eszközzel rendelkezik.
      .card.col-12.col-lg-5
        img.card-img-top(src='../../assets/bootstrap.png', alt='mongoose')
        .card-body
          a(href="https://getbootstrap.com/")
            h5.card-title Bootstrap4
          div.card-text.col-12
            | A Bootstrap az egyik legnépszerűbb HTML és CSS
            | keretrendszer, amivel szép weboldalakat készíthetünk.
      .card.col-12.col-lg-5
        img.card-img-top(src='../../assets/pugjs.jpg', alt='mongoose')
        .card-body
          a(href="https://pugjs.org/api/getting-started.html")
            h5.card-title MongooseJS
          div.card-text.col-12
            | Pug is a template engine for Node.js.
            | A template engine allows us to inject
            | data and then produce HTML.
      .card.col-12.col-lg-5
        img.card-img-top(src='../../assets/angular.svg', alt='mongoose')
        .card-body
          a(href="https://angular.io/")
            h5.card-title Angular
          div.card-text.col-12
            | Angular is a platform that makes it easy
            | to build applications with the web. Angular
            | combines declarative templates, dependency
            | injection, end to end tooling, and integrated
            | best practices to solve development challenges.
            | Angular empowers developers to build
            | applications that live on the web, mobile,
            | or the desktop.