doctype html
html
  head
    title LoginApp
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  body
    .container
      .header.clearfix
        nav
          if user
            ul.nav.nav-pills.pull-right
              li(role='presentation')
                a(href='/') BLOG Főoldal
              li(role='presentation')
                a(href='/users/logout') Kijelentkezés
          else
            ul.nav.nav-pills.pull-right
              li(role='presentation')
                a(href='/users/login') Bejelentkezés
              li(role='presentation')
                a(href='/users/register') Regisztráció
        h3.text-muted BlogPost App
    .row
      .col-lg-8
        if succes_msg
          .alert.alert-success #{success_msg}
        if error_msg !=""
          .alert.alert-danger #{error_msg}
        if error !=""
          .alert.alert-danger #{error}
        //-#{body}
    main
      block content

    footer.footer
      p.text-center BlogPost YellowRoad © 2018
    // /container
