extends layout

block content
  .container.col-md-6.col-md-offset-3
    h2.page-header Regisztráció
    if errors
      div
        each err in errors
          .alert.alert-danger #{err.msg}
    form(method='post', action='/users/register')
      .form-group
        label Név
        input.form-control(type='text', placeholder='Név', name='name')
      .form-group
        label Felhasználónév
        input.form-control(type='text', placeholder='Felhasználónév', name='username')
      .form-group
        label Email cím
        input.form-control(type='email', placeholder='Email cím', name='email')
      .form-group
        label Jelszó
        input.form-control(type='password', placeholder='Jelszó', name='password')
      .form-group
        label Jelszó mégegyszer
        input.form-control(type='password', placeholder='Jelszó mégegyszer', name='password2')
      button.btn.btn-primary(type='submit') Submit
