section {
    background: white
}

header {
    padding-top: 60px;
    margin-bottom: 15px;
    background-image: url('../../assets/background2.jpg');
    background-size: cover;
    box-shadow: 0 3px 10px rgba(38, 45, 61, 0.753);
}

header h2 {
    color: white;
    padding-left: 30px;
}
.input-group.btn-group{
    padding: 15px 0;
}

header a {
    color: black;
}

.card {
    margin: 0 0 40px 0;
    padding: 0;
    box-shadow: 0 6px 20px 0 rgba(38,45,61,.3);
    border: none;
    border-radius: 3px
}

span {
    font-size: 12px
}

.card-title {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, .4)
}

pre {
    font-family: inherit;
    white-space: pre-wrap;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: 600;
}