section {
    background: white
}

header {
    padding-top: 60px;
    padding-bottom: 10px;
    background: deepskyblue
}

.card {
    margin: 0 0 40px 0;
    padding: 0;
    box-shadow: 0 6px 20px 0 rgba(38,45,61,.3);
    border: none;
    border-radius: 3px
}

span {
    font-size: 12px
}

.card-title {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, .4)
}

pre {
    font-family: inherit;
    white-space: pre-wrap;
    padding: 0;
}