header
section
    iframe(width='100%', height='300', frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/place?q=place_id:ChIJZ1QI7aDdQUcREOtvRq31ShU&key=AIzaSyDHHod3we97Lvk2yBQ8qnliEk2h1S5TBSY', allowfullscreen='')
section
    .container
        .row
            .left-side.col-12.col-lg-4
                <p class="phonemail">
                    <span>Telefon: </span>
                    <a href="tel:+36203333333"> +36203333333</a>
                </p>
                <p class="phonemail">
                    <span>Email: </span>
                    <a href="mailto:office@example.com"> yellow.pataki.doni@gmail.com</a>
                </p>
            .form-block.col-12.col-lg-8
                h2 Küldd el észrevételeid, tanácsaid!
                form(action='')
                    .form-group
                        label(for='user-name') Név
                        input#user-name.form-control(type='text', name='user-name')
                    .form-group
                        label(for='subject') Tárgy
                        input#subject.form-control(type='text', name='subject')
                    .form-group
                        label(for='user-email') Válasz email cím
                        input#user-email.form-control(type='text', name='user-email')
                    .form-group
                        label(for='user-message') Üzenet
                        textarea#user-message.form-control(name='user-message', cols='50', rows='10')
                    button.btn.btn-primary(type='submit') Küldés

