header
main
    section
        .container.card
            .card-inner.mx-auto
                h2 API funkciói
                ul
                    li Felhasználó authentikáció
                        ul
                            li Regisztráció
                            li Bejelentkezés
                    li Blogbejegyzések - csak bejelentkezett felhasználóknak
                        ul
                            li létrehozás
                            li szerkesztés
                            li törlés
                    li Kommentelés - csak bejelentkezés után
                        ul
                            li Kommentek írása
                            li Kommentek törlése (csak saját kommentek törölhetők)
