nav.navbar.navbar-expand-md.navbar-dark.bg-primary
  a.navbar-brand(href='#') BlogPost
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.justify-content(*ngFor='let menupoint of menuList')
        a.nav-link.text-center(routerLink="{{ menupoint.url }}", routerLinkActive='active') "{{ menupoint.label }}"
    button.ml-auto.btn.btn-success(type='button', data-toggle="modal", data-target="#loginModal") Bejelentkezés
#loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Bejelentkezés', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content.text-center
      .modal-body
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h5 Bejelentkezés
        form(action="localhost:3004/api/login", method="post")
          .form-group
            input#loginEmail.form-control(type="email", name="loginEmail", aria-describedby="email", placeholder="E-mail cím")
          .form-group
            input#loginPassword.form-control(type="password", name="loginPassword", aria-describedby="jelszo", placeholder="jelszó")
          button.btn.btn-primary(type="button") Bejelentkezés