.navbar {
    background: linear-gradient(rgb(12, 80, 143, .80),rgba(12, 80, 143, 0.80)), url('../../assets/background2.jpg');
    opacity: .9;
    background-size: cover;
    box-shadow: 0 3px 15px black;
}

nav.navbar.navbar-expand-md a.nav-link {
    color: rgba(255, 255, 255, 1)
}
nav.navbar.navbar-expand-md a.nav-link:hover {
    color: rgba(255, 255, 255, .5)
}
nav.navbar.navbar-expand-md a.nav-link.active {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.25), rgba(255,255,255,0));
}