nav.navbar.fixed-top.navbar-expand-md.navbar-dark
  a.navbar-brand(href='#') BlogPost
  button#loginButton.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.justify-content(*ngFor='let menupoint of menuList')
        a.nav-link.text-center(routerLink="{{ menupoint.url }}", routerLinkActive='active') {{ menupoint.label }}
    .btn-group.ml-auto(*ngIf="loginText=='Bejelentkezés'")
      button#loginButton.btn.btn-success(type='button', data-toggle="modal", data-target="#loginModal") {{loginText}}
      a#registerButton.btn.btn-info(href='#register') Regisztráció
    .btn-group.ml-auto(*ngIf="loginText !='Bejelentkezés'")
      button.btn.btn-primary(type="submit", routerLink="{{ '/bloguser' }}", routerLinkActive='active') {{loginText}}
      button.btn.btn-success(type="submit", routerLink="{{ '/blogpage' }}", routerLinkActive='active') Blog Főoldal
      button.btn.btn-dark(type="button", (click)='logout()', routerLink="{{ '/main' }}", routerLinkActive='active') Kilépés
#loginModal.modal.fade(*ngIf="loginText=='Bejelentkezés'",tabindex='-1', role='dialog', aria-labelledby='Bejelentkezés', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content.text-center
      .modal-body
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h5 Bejelentkezés
        form(action="", #loginData="ngForm", (ngSubmit)="login(loginData)", novalidate)
          .form-group
            input#loginEmail.form-control(type="text", name="username", aria-describedby="username", ngModel, #username="" placeholder="Felhasználónév", required)
          .form-group
            input#loginPassword.form-control(type="password", name="password", ngModel, aria-describedby="jelszo", placeholder="Jelszó", required)
          button.btn.btn-primary(type="submit", routerLink="{{ '/blogpage' }}", routerLinkActive='active') Bejelentkezés