footer
  .container
    .row
      .col-12.col-lg-8.social
        a.twitter(target="_blank", href="http://twitter.com/")
          <i class="fab fa-twitter"></i>
        a.facebook(target="_blank", href="http://facebook.com/doni.pataki")
          <i class="fab fa-facebook"></i>
        a.youtube(target="_blank", href="http://youtube.com")
          <i class="fab fa-youtube"></i>
        a.insta(target="_blank", href="http://instagram.com")
          <i class="fab fa-instagram"></i>
        a.github(target="_blank", href="http://github.com/donip")
          <i class="fab fa-github"></i>
      .col-12.col-lg-4.copy
        p Copyright © 2018 Donat Pataki
