footer
  .container
    .row
      .col-12.col-lg-8.social
        a.twitter(target="_blank", href="http://twitter.com/", data-toggle="tooltip" data-placement="top" title="twitter")
          <i class="fab fa-twitter"></i>
        a.facebook(target="_blank", href="http://facebook.com/doni.pataki", data-toggle="tooltip" data-placement="top" title="facebook")
          <i class="fab fa-facebook"></i>
        a.youtube(target="_blank", href="http://youtube.com", data-toggle="tooltip" data-placement="top" title="youtube")
          <i class="fab fa-youtube"></i>
        a.insta(target="_blank", href="http://instagram.com", data-toggle="tooltip" data-placement="top" title="instagram")
          <i class="fab fa-instagram"></i>
        a.github(target="_blank", href="http://github.com/donip", data-toggle="tooltip" data-placement="top" title="github")
          <i class="fab fa-github"></i>
      .col-12.col-lg-4.copy
        p Copyright © 2018 Donat Pataki
